<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="text-align: center">

<!--表单，action提交数据，默认为get方法-->
<form action="/update" method="post">
  sid:<input type="text" name="id" th:value="${person.id}"> <br>
  name:<input type="text" name="name" th:value="${person.name}"> <br>
  age:<input type="text" name="age" th:value="${person.age}"><br>
  sex:<input type="text" name="sex" th:value="${person.sex}"><br>
  <input type="submit">
  <button type="button"> <a type="button" href="/list">取消</a></button>

</form>

</body>
</html>